* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;

}

#container {
    padding: 30px;
    border-radius: 20px;
}

#numeros {
    display: flex;
    align-items: center;
    gap: 10px;

    margin-bottom: 15px;

    font-size: 20px;
    font-weight: bold;
    color: #333;
}

button {
    width: 45px;
    height: 45px;
    border-radius: 4px;
    background: white;
    color: #00000099;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: 0.2s;
}

button:active {
    transform: scale(0.95);
}
.ocupado{
    background: green;
}
.livre{
    background: white;
}